<!-- app/Resources/views/base.html.twig -->
<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html"; charset=utf-8" />
        <title>{% block title %}Meddo{% endblock %}- umów się do lekarza</title>
        <!--[if lt IE 9]>
            <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
        {% block stylesheets %}
            <link href="{{ asset('css/app.css') }}" type="text/css" rel="stylesheet" />
        {% endblock %}
        
        <link rel="shortcut icon" href="{{ asset('bundles/meddohealthy/images/meddo.ico') }}" />
    </head>
    <body>
    <a href="{{ path('MeddoHealthyBundle_homepage') }}">
    <img src="{{ asset('bundles/meddohealthy/images/logo.jpg') }}" alt="Logo!"/>
	</a>
       <div class="naglowek"><a href="#"><font color=#BCD2D2>Dla lekarzy i placówek</font></a> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <a href="#"><font color=#BCD2D2>O nas</font></a></div>
    {%block body %}
    
    {% endblock %}   
    </body>
</html>