<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html"; charset=utf-8" />
        
               <!--[if lt IE 9]>
            <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
        {% block stylesheets %}
            <link href="{{ asset('css/app2.css') }}" type="text/css" rel="stylesheet" />
        {% endblock %}
        
        <link rel="shortcut icon" href="{{ asset('bundles/meddohealthy/images/meddo.ico') }}" />
    </head>
    

{% block body %}


 <nav class="nav-main">
  	<div class="logo"><a href="{{ path('MeddoHealthyBundle_homepage') }}">
    <img src="{{ asset('bundles/meddohealthy/images/logo2.jpg') }}" alt="Logo!"/>
	</a></div>
  	<ul>
  		<li>
  			<input type="radio" name="nav-group" class="nav-option">
  			<label for ="amazing" class="nav-item">{{ form_start(form) }}
{{ form_row(form.task, {'attr': {'class':'polewyboru'}}) }}</div></label>
  		</li>
  		<li>
  			<input type="radio" name="nav-group" class="nav-option">
  			<label for ="polewyboru" class="nav-item">{{ form_row(form.spec, {'attr': {'class':'polewyboru'}}) }}</label>
  		</li>
  		<li>
  			<input type="radio" name="nav-group" class="nav-option">
  			<label for ="szukaj" class="nav-item">{{ form_row(form.save, {'attr': {'class':'szukaj2'}})}}
{{ form_end(form) }} </label>
  		</li> 
  		<li>
  			<input type="radio" name="nav-group" class="nav-option">
  			<label for ="lekarze" class="nav-item">
  			&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  			&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  			&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  			<a href="#"><font color=#BCD2D2>Dla lekarzy i placówek</font></a></label>
  		</li>
  		<li>
  			<input type="radio" name="nav-group" class="nav-option">
  			<label for ="o-nas" class="nav-item"><a href="#"><font color=#BCD2D2>O nas</font></a></label>
  		</li>
  	</ul>
  </nav>

<div id="panelek"><div id="wyniki">Wyników ({{ result }})</div></br> </br>
{% for lekarz in doctor %}
  
<div class = "wysrodkowanie">
<img src="uploads/documents/{{ lekarz.path }}" alt="docotr" class="obrazek" />
<h4><a href="#"> {{ lekarz.name }} {{ lekarz.surname }} </a></h4>
<img src="bundles/meddohealthy/images/rating{{ lekarz.rating }}.jpg" alt="rating" /> 4 opinie
</br>
<b>680m</b>&nbsp;&nbsp;&nbsp;&nbsp; <font size="2" color="#BCD2D2"> {{ lekarz.agency }}, {{ lekarz.street }}, {{ lekarz.town }} </font> </br>
<a href="#"><div class="wizyta">Umów wizytę</div></a> &nbsp;&nbsp;&nbsp; <div class="termin">Najbliższy termin: Jutro 10:00</div>
</div>

{% endfor %}
</div>
</div> <div id="mapka"><img src="{{ asset('bundles/meddohealthy/images/mapka.jpg') }}" align:"right" width="50%"/> </div>



                
 

{% endblock %}