{% extends '::base.html.twig' %}

{% block title %}Dodawanko {% endblock%}

{% block body %}
Tu powinien być formularz, no nie?

{{ form_start(form) }}
{{ form_widget(form) }}
{{ form_end(form) }}
{% endblock %}