{# src/Meddo/HealthyBundle/Resources/views/Page/index.html.twig #}
{% extends '::base.html.twig' %}

{% block body %}
    <div class="wysrodkowanie">
        <h2><wstep>Umów się do lekarza</wstep></h2> <br/>
        <h4><tresc>Bezpłatny serwis z prawdziwymi opiniami, wolnymi terminami wizyt prywatnych i NFZ</tresc></h4>  </br>
</div>



{{ form_start(form) }}
<div class = "wyszukiwarka">
{{ form_row(form.task, {'attr': {'class':'polewyboru'}}) }}
{{ form_row(form.spec, {'attr': {'class':'polewyboru'}}) }}
</div>

{{ form_row(form.save, {'attr': {'class':'szukaj'}})}}

{{ form_end(form) }}

{% endblock %}
